@layout('layouts/main')

@section('title')
<title> Nursery of Kickz | Products</title>
@endsection

@section('content')

<section class="content-area products-all-page">
    <div class="filter-section">filter</div>
    <div class="all-products-grid">
      <div class="product-wrap">
      <div class="product">
      <div class="circle">
        <img src="/img/products/Nike-Jordan-1-Retro.png" alt="">
      </div>
      </div>
      <div class="title">Nike Air Jordan Retro</div>
      <div class="price">$349</div>
      </div>

      <div class="product-wrap">
          <div class="product">
          <div class="circle">
            <img src="/img/products/Nike-Jordan-1-Turbo-Green.png" alt="">
          </div>
          </div>
          <div class="title">Nike Air Jordan Retro</div>
          <div class="price">$349</div>
          </div>

          <div class="product-wrap">
              <div class="product">
              <div class="circle">
                <img src="/img/products/Nike-Jordan-Retro-12-NY.png" alt="">
              </div>
              </div>
              <div class="title">Nike Air Jordan Retro</div>
              <div class="price">$180</div>
              </div>

              <div class="product-wrap">
                  <div class="product">
                  <div class="circle">
                    <img src="/img/products/Converse-Chuck-Taylor-Off-White.png" alt="">
                  </div>
                  </div>
                  <div class="title">Nike Air Jordan Retro</div>
                  <div class="price">$150</div>
                  </div>

    </div>
  </section>
    
 @endsection


  
