@layout('layouts/main')

@section('title')
<title> Nursery of Kickz | Products</title>
@endsection

@section('content')
    <div class="top-section">
      <div class="product">
      <div class="circle">
        <img src="/img/products/Nike-Jordan-1-Retro.png" alt="">
      </div>
      </div>
      <div class="titles">
          <h3>Air Jordan</h3>
          <h1>Retro</h1>
        </div>
    </div>
    
 @endsection


  
