@layout('layouts/main')

@section('title')
Nursery of Kickz | Products
@endsection

@section('content')

<section class="content-area products-all-page">
    <div class="filter-section">
       <div class="filter">
        <input type="checkbox" id="gender-options" class="toggle" />
        <label for="gender-options" class="title">Gender</label>
        <div class="content">
          <div class="gender">
            <div class="option">Male</div>
            <div class="option">Female</div>
          </div>
        </div>
      </div>
      <div class="filter">
          <input type="checkbox" id="brand-options" class="toggle" />
          <label for="brand-options" class="title">Brand</label>
          <div class="content">
            <div class="brand">
              <div class="option">Adidas</div>
              <div class="option">Converse</div>
              <div class="option">Fairgound</div>
              <div class="option">Nike</div>
              <div class="option">Off White</div>
              <div class="option">Puma</div>
              <div class="option">Reebok</div>
              <div class="option">Vans</div>
            </div>
          </div>
        </div>
        
        <div class="filter">
            <input type="checkbox" id="price-options" class="toggle" />
            <label for="price-options" class="title">Price</label>
            <div class="content">
              <div class="price">
                <input type="text" class="option min" placeholder="min">
                <input type="text" class="option max" placeholder="max">
              </div>
            </div>
          </div>

        <div class="filter">
            <input type="checkbox" id="size-options" class="toggle" />
            <label for="size-options" class="title">Size</label>
            <div class="content">
              <div class="size">
                  <div class="option">4</div>
                  <div class="option">4.5</div>
                  <div class="option">5</div>
                  <div class="option">5.5</div>
                  <div class="option">6</div>
                  <div class="option">6.5</div>
                  <div class="option">7</div>
                  <div class="option">7.5</div>
                  <div class="option">8</div>
                  <div class="option">8.5</div>
                  <div class="option">9</div>
                  <div class="option">9.5</div>
                  <div class="option">10</div>
                  <div class="option">10.5</div>
                  <div class="option">11</div>
                  <div class="option">11.5</div>
                  <div class="option">12</div>
                  <div class="option">12.5</div>
                  <div class="option">13</div>
                  <div class="option">13.5</div>
                  <div class="option">14</div>
                  <div class="option">14.5</div>
                  <div class="option">15</div>
              </div>
            </div>
          </div>

          <button>Filter</button>

     </div>
    <div class="all-products-grid">
      @each(product in allProducts)
      <div class="product-wrap">
          <a href="#">
            <div class="product">
           <div class="">
            {{--  <img src="/img/products/Nike-Jordan-1-Retro.png" alt="">  --}}
          <img style="height: 15vw;
                      width: 22vw;"src="{{product.image_url}}" alt="shoe">
          </div>
          </div>
        </a>
        <div class="title">{{product.title}} </div>
        <div class="price">$ {{product.price}}</div>
        
      </div>
      @endeach
    </div>
    <div class="d-flex justify-content-center">
      <nav aria-label="...">
              <ul class="pagination pg-color-border">
                      @if(currentPage !== arrayOfPages[0])
                      <li class="page-item">
                              <a class="page-link" href="/admin/products/?page={{currentPage - 1}}&rows={{pageRows}}" tabindex="-1">Previous</a>
                          </li>
                      @endif
                  @each(page in arrayOfPages)
                  
                  <li class="page-item  
                  @if(page == currentPage)
                  active
                  @endif
                  ">
                      <a class="page-link" href="/admin/products/?page={{page}}&rows={{pageRows}}">{{page}} <span class="sr-only">(current)</span></a>
                  </li>
                  @endeach
                  @if(currentPage !== totalPages)
                  <li class="page-item">
                          <a class="page-link" href="/admin/products/?page={{currentPage + 1}}&rows={{pageRows}}">Next</a>
                      </li>
                  @endif
              </ul>
          </nav>
</div>
  </section>
    
 @endsection

 {{--  @section('footer')
 @endsection  --}}


  
