@layout('layouts/main')

@section('title')
Nursery of Kickz
@endsection

@section('content')
<section class="content-area product-single-page">
    <div class="product-imgs">
      <div class="product">
      <div class="circle">
        <img src="/img/products/Nike-Jordan-1-Retro.png" alt="">
      </div>
      </div>
    </div>
    <div class="product-detail">
      <div class="titles">
        <div class="brand">
          Nike
        </div>
        <div class="product">
            Air Jordan Retro
          </div>
          <div class="price">$349.00</div>
        </div>
        <div class="details">
          <p>The women’s Air Jordan 1 High “UNC Patent Leather” is another appealing look for the women’s collection of Michael Jordan's first signature shoe.
             The colorway is inspired by Jordan’s college career at the University of North Carolina, and the striking women’s Jordan 1 features a full patent leather build
              that shines in tones of Blue Chill, Obsidian, and white across the upper with more of the Carolina blue tone for the outsole. It also features the Air Jordan
               wings logo embossed onto the ankle for an even cleaner look to the glossy colorway. The women’s Air Jordan 1 High “UNC Patent Leather” released in February 2019.
              </p>

              <div id="ProductAddToCartRoot"></div>

                  
    </div>

              <div class="detail-section">
              <div class="detail">
                  <input type="checkbox" id="delivery-dropdown" class="toggle" />
                  <label for="delivery-dropdown" class="title">Delivery</label>
                    <div class="content">
                      <p class="paragraph">Please allow between 15-45 days for your order to arrive. If more than 45 days have passed please email us at ******** to review the status of your order. Refunds will be handled through email if necessary.
                      </p>
                      
                    </div>
                </div>
              </div>

              <div class="detail-section">
                <div class="detail">
                    <input type="checkbox" id="refund-dropdown" class="toggle" />
                    <label for="refund-dropdown" class="title">Returns</label>
                      <div class="content">
                        <p class="paragraph">
                          Currently all sales are final
                        </p>
                        
                      </div>
                  </div>
                </div>

    </div>
</section>
 @endsection

@section('javascript')
<script src="/js/dist/ProductAddToCart.js"></script>
@endsection
  
