@layout('layouts/main')

@section('title')
Nursery of Kickz
@endsection

@section('content')
<section class="content-area product-single-page">
    <div class="product-imgs">
      <div class="product">
      <div class="circle">
        <img src="/img/products/Nike-Jordan-1-Retro.png" alt="">
      </div>
      </div>
    </div>
    <div class="product-detail">
      <div class="titles">
        <div class="brand">
          Nike
        </div>
        <div class="product">
            Air Jordan Retro
          </div>
          <div class="price">$349.00</div>
        </div>
        <div class="details">
          <p>The women’s Air Jordan 1 High “UNC Patent Leather” is another appealing look for the women’s collection of Michael Jordan's first signature shoe.
             The colorway is inspired by Jordan’s college career at the University of North Carolina, and the striking women’s Jordan 1 features a full patent leather build
              that shines in tones of Blue Chill, Obsidian, and white across the upper with more of the Carolina blue tone for the outsole. It also features the Air Jordan
               wings logo embossed onto the ankle for an even cleaner look to the glossy colorway. The women’s Air Jordan 1 High “UNC Patent Leather” released in February 2019.
              </p>

              <div id="ProductAddToCartRoot"></div>

                  
    </div>

              <div class="detail-section">
              <div class="detail">
                  <input type="checkbox" id="delivery-dropdown" class="toggle" />
                  <label for="delivery-dropdown" class="title">Delivery</label>
                    <div class="content">
                      <p class="paragraph">Please allow between 15-45 days for your order to arrive. If more than 45 days have passed please email us at ******** to review the status of your order. Refunds will be handled through email if necessary.
                      </p>
                      
                    </div>
                </div>
              </div>

              <div class="detail-section">
                <div class="detail">
                    <input type="checkbox" id="refund-dropdown" class="toggle" />
                    <label for="refund-dropdown" class="title">Returns</label>
                      <div class="content">
                        <p class="paragraph">Our policy lasts 30 days. If 30 days have gone by since your order was received, unfortunately we can’t offer you a refund or exchange.</br>
                        </br>
                          To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.</br>
                      </br>
                          Additional non-returnable items:</br>
                          Gift cards</br>
                          Downloadable software products</br>
                    </br>
                          To complete your return, we require a receipt or proof of purchase.</br>
                  </br>
                          Please do not send your purchase back to the manufacturer.</br>
                </br>
                          There are certain situations where only partial refunds are granted (if applicable)</br>
                          Book with obvious signs of use</br>
                          CD, DVD, VHS tape, software, video game, cassette tape, or vinyl record that has been opened</br>
                          Any item not in its original condition, is damaged or missing parts for reasons not due to our error</br>
                          Any item that is returned more than 15 days after delivery</br>
                </br>
                          Refunds (if applicable)</br>
                          Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.</br>
                          If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.</br>
                </br>
                          Late or missing refunds (if applicable)</br>
                          If you haven’t received a refund yet, first check your bank account again.</br>
                          Then contact your credit card company, it may take some time before your refund is officially posted.</br>
                          Next contact your bank. There is often some processing time before a refund is posted.</br>
                          If you’ve done all of this and you still have not received your refund yet, please contact us at *******</p>
                        
                      </div>
                  </div>
                </div>

    </div>
</section>
 @endsection

@section('javascript')
<script src="/js/dist/ProductAddToCart.js"></script>
@endsection
  
