@layout('layouts/main')

@section('title')
Nursery of Kickz
@endsection

@section('content')
<section class="content-area product-single-page">
    <div class="product-imgs">
      <div class="product">
      <div class="circle">
        <img src="/img/products/Nike-Jordan-1-Retro.png" alt="">
      </div>
      </div>
    </div>
    <div class="product-detail">
      kdjlakjdlkfajdkl
    </div>
  </section>
    
 @endsection

 {{--  @section('footer')

 @endsection  --}}

  
