@layout('layouts/main')

@section('title')
<title> Nursery of Kickz | About </title>
@endsection

@section('content')
    <section class="content-area about-page">
      <div class="container"><div class="box-container">
        <h2>Register</h2>
        
      </div>
    </div>
      
    </section>
 @endsection


  
