<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  
  <title>
    @!section('title')
  </title>
  
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="header">
  <header>
    <div class="logo"><a href="/">Nursery of Kickz</a></div>
    <div class="menu">
      <a href="/about">Bio</a>
      <a href="/products/new-arrivals">New Arrivals</a>
      <a href="/products">All Products</a>
      {{--  <a href="#">Categories</a>  --}}
      <a href="#" class="cart-link">Cart<span><div>14</div></span></a>
    </div>
  </header>
</div>

  <section class="content-area home-page">
    @!section('content')
  </section>

  <section id="cart-popup" class="">
      <div class="cart-title">
        <div class="title">My Cart</div>
      </div>
    <div class="cart-items">

      <div class="item-container">
      <div class="item">
        <img src="/img/products/Nike-Jordan-Retro-12-NY.png" alt="">
        <div class="delete-btn">
          <div class="circle">X</div></div>
      </div>
    </div>

    <div class="item-container">
        <div class="item">
          <img src="/img/products/Nike-AdaptBB-Black.png" alt="">
          <div class="delete-btn">
            <div class="circle">X</div></div>
        </div>
      </div>

      <div class="item-container">
          <div class="item">
            <img src="/img/products/Jordan-Retro6ST-Black.png" alt="">
            <div class="delete-btn">
              <div class="circle">X</div></div>
          </div>
        </div>

        <div class="item-container">
            <div class="item">
              <img src="/img/products/Addidas-ADVMidShenron-Green.png" alt="">
              <div class="delete-btn">
                <div class="circle">X</div></div>
            </div>
          </div>

      


      </div>
    <div class="product-total">
      <div class="inside-container">
      <div class="title">Total</div>
      <div class="number">x14</div>
      </div>
    </div>
    <div class="price-total">
      <div class="inside-container">
        <div class="title">Total</div>
        <div class="number">$3,948.71</div>
      </div>
    </div>
    <div class="checkout"><div class="title">Checkout</div><span class="ti-shopping-cart"></span></div>

  </section>
  

  
    
   

    @!section('javascript')
  <script src="js/dist/vendors~FirstComp.js"></script>
  <script src="js/dist/FirstComp.js"></script>
  
</body>
</html>
