<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  
  <title>
    @!section('title')
  </title>
  
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="header">
  <header>
    <div class="animated flipInX delay-1s"> <div class="logo "><a href="/">Nursery of Kickz</a></div></div>
    <div class="menu">
      <a href="/about">Bio</a>
      <a href="/products/new-arrivals">New Arrivals</a>
      <a href="/products">All Products</a>
      <a href="#">Brand</a>
      <div class="cart-link" id="CartBtnRoot">Cart<span><div>14</div></span></div>
    </div>
  </header>
</div>

  <section class="content-area home-page">
    @!section('content')
  </section>

  <div id="CartPopupRoot">

  </div>
  

  
    
   
  <script src="/js/dist/vendors.js"></script>
    @!section('javascript')
  
    <script src="/js/dist/CartComponents.js"></script>
  
</body>
</html>

