@layout('layouts/main')

@section('title')
Nursery of Kickz | Bio
@endsection

@section('content')
    <section class="content-area about-page">
      <div class="container"><div class="box-container">
        {{--  <h1>Bio</h1>   --}}
        
          <h1>Nursery of Kickz</h1></br></br>
           <p>is a fast-fashion online retail destination serving customers worldwide. 
           We strive to bring shoppers the trendiest styles, from design to concept, and stright to our customers' doorstep.
       </br> <span class="action">if it's sold out we got it!</span></p>
       <div class="follow">
       <a href="https://www.instagram.com/nurseryofkickz/?hl=en" ><p>Follow Us</br><span class="ti-instagram follow"></span></p></a>
       </div>
       {{--  <a href="https://www.instagram.com/nurseryofkickz/?hl=en" class="ti-instagram logo">@nurseryofkickz</a>  --}}
      </div>
    </div>
      
    </section>
 @endsection

 {{--  @section('footer')
 @endsection  --}}
 @section('javascript')
 console.log("Hey")
 @endsection

  
