@layout('layouts/main')

@section('title')
Nursery of Kickz
@endsection

@section('content')
<section class="content-area-home-page">
    <div class="top-section">
      <div class="product">
      <div class="circle">
        <img src="/img/products/Adidas-YeezyBoost-350v2R.png" alt="">
      </div>
      </div>
      <div class="titles">
          <h3>Yeezy</h3>
          <h1>Boost</h1>
        </div>
    </div>
</section>
 @endsection

 

  
